.Button {
  display: inline-block;
  background-color: teal;
  padding: 20px;
  transition: all 2s;
  color: black;
  text-transform: uppercase;
}

.Button:hover {
  cursor: pointer;
  background-color: black;
  color: teal;
}
