body {
	background-color: #13A5FF;
	color: white;
}

.Body--invert {
	filter: invert(100%);
	color: yellow;
}

.Button {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Button__list {
	display: flex;
	justify-content: center;
}

.Button__actual {
	border: 2px solid black;
	box-shadow: 1px 2px 2px 2px black;
	padding: 13px;
	margin: 25px;
}

.Button__actual--phantom {
	opacity: .05;
	border: 1px solid;
	padding: 13px;
	margin: 25px;
	box-shadow: 2px 3px 3px 3px #888888;
}

.Button__actual--invert {
	opactiy: 0.33;
}