.Carousel {
  border: green 1px solid;
}

.Carousel__arrow-left {
  font-size: 42px;
  position: absolute;
  left: 20px;
  top: 50px;
  border: purple 1px solid;
}

.Carousel__arrow-right {
  font-size: 42px;
  position: absolute;
  right: 20px;
  top: 50px;
  border: purple 1px solid;
}

.Carousel__items {
  margin-left: 70px;
  margin-right: 70px;
  border: red 1px dotted;
}

.Carousel__item {
  display: none;
}

.Carousel__item-focused {
  display: inline-block;
  border: yellow dotted 1px;
}