.Carousel__arrow-left {
  font-size: 42px;
  position: absolute;
  left: 20px;
  top: 50px;
}

.Carousel__arrow-right {
  font-size: 42px;
  position: absolute;
  right: 20px;
  top: 50px;
}

.Carousel__items {
  margin-left: 70px;
  margin-right: 70px;
}

.Carousel__item {
  display: none;
}

.Carousel__item-focused {
  display: inline-block;
  animation:fadeIn 1s;
}

@keyframes fadeIn
{
  0%   {opacity:0}
  15% { opacity: 0.15}
  33.333% { opacity: 0.33}
  50% {opacity: 0.5}
  66.666% { opacity: 0.66}
  80% {opacity: 0.8}
  100% { opacity: 1}
}