.Dropdown {
  z-index: 5;
  display: inline-block;
  position: absolute;
}

.Dropdown__button {
  padding: 15px;
  background-color: black;
  border: 2.5px solid white;

}

.Dropdown__content {
  position: absolute;
  background-color: black;
  display: none;
  margin-top: 10px;
  padding: 15px;
  border: 2.5px solid white;
}

.Dropdown__link {
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
}

.Dropdown--active .Dropdown__content {
  display: block;
}